<% layout('master') -%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid mt-4">
                <div class="container">
                  <h1 class="display-4">@themost/super-simple-auth</h1>
                  <p class="lead">OAuth2 server</p>
                </div>
              </div>
        </div>
       
    </div>
</div>
